@model MySportShop.Models.ViewModel.ProductVM

<form method="post" enctype="multipart/form-data">
    <div class="container border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Додати характеристику</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <input asp-for="Product.ProductId" class="form-control" hidden />
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Info.Size"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Info.Size" asp-items="@Model.Properties" class="form-control">
                            <option disabled selected>--Select Property--</option>
                        </select>
                        <span asp-validation-for="Info.Size" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Info.Quantity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Info.Quantity" class="form-control" />
                        <span asp-validation-for="Info.Quantity" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col">
                        <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Create" />
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>

@if(@Model.ProductInfos.Count() > 0)
{

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
               Size
            </th>
            
            <th>
               Quantity
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.ProductInfos)
        {
            <tr>
                <td width="30%">@obj.Size</td>
             
                <td width="20%">@obj.Quantity</td>
                           
            </tr>
        }
    </tbody>
</table>
}

